In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("c:\\temp\\Book1.csv")
df

      Words
0     harem
1     cameo
2     homer
3     fried
4     threw
..      ...
313   owner
314   agree
315   rower
316   matey
317   tamer

[318 rows x 1 columns]

In [3]:
import re
def find_match(str, has_letters):
    match = re.search(f'[{has_letters}]', str.lower())
    if match:
        return True
    else:
        return False

In [17]:
find_match('ApPle', 'dug')

False

In [19]:
find_match('ApPle', 'pe')

True

In [4]:
letters_omitted = 'il'
df['match'] = df['Words'].apply(find_match, has_letters=letters_omitted)

In [21]:
omitted_letters_removed=df[~df['match']]
omitted_letters_removed

      Words  match
0     harem  False
1     cameo  False
2     homer  False
4     threw  False
5     cater  False
..      ...    ...
313   owner  False
314   agree  False
315   rower  False
316   matey  False
317   tamer  False

[183 rows x 2 columns]

In [23]:
has_t = omitted_letters_removed[omitted_letters_removed['Words'].str.contains('t')]
has_st = has_t[has_t['Words'].str.contains('s')]
has_st

      Words  match
16    sweet  False
56    onset  False
64    upset  False
127   steed  False
128   asset  False
138   unset  False
158   reset  False
182   steep  False
196   beset  False
198   steer  False
217   ester  False
246   sheet  False

In [20]:
#pattern_found = '^...e.$'
pattern_found = '^.{5}$'

matches_pattern = omitted_letters_removed[omitted_letters_removed['Words'].str.match(pattern_found)]
matches_pattern

Empty DataFrame
Columns: [Words, match]
Index: []

In [15]:
matches_pattern[matches_pattern['Words'].str.contains('t')]

Empty DataFrame
Columns: [Words, match]
Index: []