In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("c:\\temp\\Book1.csv")
df

     Words
0    abase
1    abate
2    abide
3    abode
4    above
..     ...
417  whose
418  wince
419  worse
420  write
421  wrote

[422 rows x 1 columns]

In [15]:
import re
def find_match(str, has_letters):
    match = re.search(f'[{has_letters}]', str.lower())
    if match:
        return True
    else:
        return False

In [17]:
find_match('ApPle', 'dug')

False

In [19]:
find_match('ApPle', 'pe')

True

In [36]:
letters_omitted = 'lansprifu'
df['match'] = df['Words'].apply(find_match, has_letters=letters_omitted)

In [37]:
omitted_letters_removed=df[~df['match']]
omitted_letters_removed

     Words  match
53   booze  False
79   choke  False
107  dodge  False
121  emcee  False
127  evoke  False
180  hedge  False
370  theme  False
375  thyme  False
410  wedge  False

In [38]:
letters_found='dg'
omitted_letters_removed[omitted_letters_removed['Words'].apply(find_match, has_letters=letters_found)]

     Words  match
107  dodge  False
180  hedge  False
410  wedge  False